.btn-primary {
  height: 40px;
  min-width: 200px;
  border: none;
  background-color: #00b894;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.btn-primary:hover {
  background-color: #00ccac;
}

.btn-secondary {
  height: 40px;
  min-width: 200px;
  border: none;
  background-color: #d63031;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #e74c3c;
}

.btn-tertiary {
  height: 40px;
  min-width: 200px;
  border: none;
  background-color: #0984e3;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-tertiary:hover {
  background-color: #74b9ff;
}

.btn-anchor {
  height: 40px;
  border: none;
  font-size: 8px;
  color: #5b5b5b;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn-anchor:hover {
  text-decoration: underline;
  color: #474747;
}

/* text styles */
.title1 {
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  text-align: center;
  color: #5b5b5b;
}

.title2 {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  color: #272626;
}

.inputText {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  color: #5b5b5b;
}

.error__message {
  color: rgb(190, 35, 35);
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  margin-top: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 20px;
  border-radius: 5px;
  padding-top: 5px;
  animation: fadeIn 0.5s;
}

.headerLink {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
